.card-title{
    padding-bottom: 10px;
}
.header{
    border-bottom: 1px solid #c4c8d1; 
    margin-left: 0; 
    margin-right: 0;
    padding: 10px;
}
table {
  font-size: small;
}
.green {
  color: green;
}
.red {
  color: red;
}
